* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  color: #0e0e0e;
}

html {
  font-family: sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #0366d6;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #0454cc;
}

img {
  max-height: 350px;
}